<ul>
  {{#each model as |legislator|}}
    <li> {{legislator.first_name}} {{legislator.last_name}}<br>Contact: <a href=  {{legislator.contact_form}}>{{legislator.contact_form}}</a></li>
  {{/each}}
</ul>
